 <nav id="nav-bar">
        <table align="center" id="center">
            
            
                <td id="cellSize">
                    
                    <form id="nav-bar-post">
                        <input type="text" placeholder="Search.." style="background-color:white; color:black; border-color:#955018">
                        <button type="submit">Submit</button>
                         <a href="postimage"><input type="button" value="Post"></a>
                    <tr>
              
                    </form>
                 <td id="cellSize">
                    <a href="login" style="text-decoration:none">
                        <b id="headerText">Login/SignUp</b>
                    </a>
                      <td id="cellSize">
                    <a href="index" style="text-decoration:none">
                        <b id="headerText"> Home </b>
                    </a>
                </td>
                
                </td> 
                
                </td>
            </tr>
        </table>
    </nav>