
    
   
   
<header>
     <h1> Login </h1>
</header>

<div>
<form>

   
        <!-- Username input  -->
        <label for="username"> Username </label><br>
        <input type="text" id="username" name="username"><br>
        <!-- Password input  -->
        <label for="password"> Password </label><br>
        <input type="password" id="password" name="password"><br>
        <!-- Submit button -->
        <br>
        <a href="postimage"><input type="button" value="login"></a>
        <a href="registration"><input type="button" value="Register"></a>
         </form>
         </div>